.form {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.form__field {
    margin-bottom: 15px;
    overflow: auto;
}

.form__column {
    box-sizing: border-box;
    float: left;
}

.form__column--one-third {
    width: 33%;
    padding-right: 3%;
}

.form__column--one-third:last-of-type {
    padding-right: 0;
    width: 34%;
}

.form__column--one-half {
    width: 50%;
    padding-right: 3%;
}

.form__column--one-half:last-of-type {
    padding-right: 0;
}

.form__label {
    display: block;
    font-family: $defaultFontStack;
    font-size: 1.2em;
}

.form__label--small {
    font-size: 0.8em;
    margin-top: 5px;
}

.form__textbox {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    padding: 10px;
    margin: 10px 0;
    font-family: $defaultFontStack;
}

.form__selectbox {
    box-sizing: border-box;
    display: block;
    margin: 10px 0;
    width: 100%;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    padding: 9px;
    font-family: $defaultFontStack;
}

.form__selectbox option {
    padding: 3px;
}

/***** SVG Checkbox replacement ******/

/* Only hide the default checkbox if the browser supports these selectors */
.form__checkbox:not(:checked), .form__checkbox:checked {
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 0;
    padding: 0;
    border: 0;
}

.form__checkbox-label {
    display: inline-block;
    box-sizing: border-box;
    width: 99%;
    padding: 1px;
    padding-left: 25px;
    cursor: pointer;
    font-family: $defaultFontStack;
    font-size: 1.2em;
}

.form__checkbox-svg {
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
}

.form__checkbox-svg-box {
    stroke: #000000;
}

.form__checkbox-svg-check {
    stroke: #000000;
    opacity: 0;
}

.form__checkbox:checked + .form__checkbox-label .form__checkbox-svg-check {
    opacity: 1;
    transition: all 0.4s;
}

.form__checkbox:focus + .form__checkbox-label {
    background-color: $accentColor;
}

/***** Validation *****/

.form__validation-hint {
    visibility: hidden;
    color: $errorColor;
    font-size: 0.9em;
    font-weight: lighter;
}

.form__validation-summary {
    color: $errorColor;
    text-align: center;
    font-weight: bold;
    border-radius: $borderRadius;
}

.form__validation-summary p {
    background-color: #ffffff;
    padding: 5px;
}

.form__field--error .form__validation-hint {
    visibility: visible;
}

.form__field--error input, .form__field--error select, .form__field--error textarea{
    border: 1px solid $errorColor;
}