p {
    margin: 0.4em 0 1em 0;
    font-size: 1.125em;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6{
    margin: 1em 0 0.4em 0;
}

.heading--large {
    font-size: 3em;
}

.heading--medium {
    font-size: 2em;
}

.heading--small {
    font-size: 1.5em;
}

.heading__sub {
    display: block;
    color: lighten($textColor, 40);
    font-size: 0.6em;
    font-weight: lighter;
}